{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>Stephanie Bell (Front-end) <a href="https://www.linkedin.com/in/stephanie-bell-529a362b/"><i class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/bpstephanie/"><i class="fa-brands fa-github"></i></a></p>
<p>Kyle Clow (Scrum master and back-end) <a href="https://www.linkedin.com/in/kyle-clow/"><i class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/KTC96"><i class="fa-brands fa-github"></i></a></p>
<p>Emma Lamont (Front-end) <a href="https://www.linkedin.com/in/emma-lamont"><i class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/elamont174"><i class="fa-brands fa-github"></i></a></p>
<p>Stefan Ruppe (Front-end) <a href="https://www.linkedin.com/in/stefan-ruppe/"><i class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/CsClown/"><i class="fa-brands fa-github"></i></a></p>
<p>Ash Selvaraj (Front-end) <a href="https://www.linkedin.com/in/ashwinkarthik-selvaraj-12882751/"><i class="fa-brands fa-linkedin"></i></a> <a href="#"><i class="fa-brands fa-github"></i></a></p>
{% endblock %}