{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}
<h1>About Us</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p>Stephanie Bell (Front-end)</p> <p><a href="https://www.linkedin.com/in/stephanie-bell-529a362b/"><i class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/bpstephanie/"><i class="fa-brands fa-github"></i></a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p>Kyle Clow (Scrum master and back-end)</p> <p><a href="https://www.linkedin.com/in/kyle-clow/"><i class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/KTC96"><i class="fa-brands fa-github"></i></a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p>Emma Lamont (Front-end)</p><p><a href="https://www.linkedin.com/in/emma-lamont"><i class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/elamont174"><i class="fa-brands fa-github"></i></a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p>Stefan Ruppe (Front-end)</p> <p><a href="https://www.linkedin.com/in/stefan-ruppe/"><i class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/CsClown/"><i class="fa-brands fa-github"></i></a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p>Ashwin Selvaraj (Front-end)</p> ><p><a href="https://www.linkedin.com/in/ashwinkarthik-selvaraj-12882751/"><i class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/ashwinsel"><i class="fa-brands fa-github"></i></a></p>
        </div>
    </div>
</div>
{% endblock %}