{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Confirmaton{% endblock %}

{% block content %}
<div class="container"> 
    </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card about-card cc-card">
                <h4 class="card-title cc-card1" style="letter-spacing: 0.1rem;">ConnectHer</h4> 
                <h5> have received your query</h5> 
                <h6><br>We will get in touch!</h6>
                
            </div>
        </div>
    </div>
   </div>
</div>

{% endblock %}