{% extends 'base.html' %}

{% load static %}

{% block title %}Contact us{% endblock %}

{% block content %}
<main>
    <div id="contactus">
        <form action="#" method="GET" target="_blank">
            <label for="name" class="contactlabel">Your name</label>
            <input type="text" name="name" class="contactbox" id="name" required>
            <br>

            <label for="email" class="contactlabel">Your email</label>
            <input type="email" name="emailaddress" class="contactbox" id="email" required>
            <br>

            <label for="contactbox-query" class="contactlabel">Your query</label>
            <textarea rows="10" name="query" class="contactbox" id="contactbox-query" required></textarea>
            <br>

            <button type="submit" id="contactbox-submit"
                aria-label="Clicking submit will open a response form in a new tab">Submit</button>
        </form>
    </div>
</main>

{% endblock %}