{% extends 'base.html' %}

{% block title %}Contact us{% endblock %}

{% block content %}

    <div id="contactus">
        <form action="{% url 'contact_confirmation' %}" method="GET" target="_blank">
            <label for="name" class="contactlabel">Your name</label>
            <input type="text" name="name" class="contactbox" id="name" placeholder="Jane Doe" required>
            <br>

            <label for="email" class="contactlabel">Your email</label>
            <input type="email" name="emailaddress" class="contactbox" id="email" placeholder="janedoe@gmail.com" required>
            <br>

            <label for="contactbox-query" class="contactlabel">Your query</label>
            <textarea rows="10" name="query" class="contactbox" id="contactbox-query" placeholder="Hi ConnectHer, my query is..." required></textarea>
            <br>

            <button type="submit" id="contactbox-submit"
                aria-label="Clicking submit will open a response form in a new tab"><h5>Submit</h5></button>
        </form>
    </div>

{% endblock %}