{% extends 'base.html' %}


{% block title %}Homepage{% endblock %}

{% block content %}
<!-- Hero Section -->
<section id="hero">
    <div class="hero-content">
        <h1>Welcome to <strong>ConnectHer</strong></h1>
        <hr>
        <p><strong>find</strong> or <strong>give</strong> support <br> <strong>learn</strong> or
            <strong>share</strong>
        </p>
        <div id="cta-dive">
            <a href="{% url 'category_list' %}" class="cta-button">
                <h2>Connect</h2>
            </a>
        </div>
    </div>
</section>

<!-- Article Blocks -->
<section id="articles">
    <div class="article keyfacts-left-inverted">
        <h5>"Great platform for engaging discussions! Love the diverse topics and supportive community. Easy to navigate
            and share insights. Highly recommended!" - Beyoncay</h5>
    </div>
    <div class="article keyfacts-right-inverted">
        <h5>"It is a chronic disease associated with severe, life-impacting pain." - Taylor Slow</h5>
    </div>
    <div class="article keyfacts-left-inverted">
        <h5>"I've learned so much from the educational materials on this forum. From informative articles to practical
            tips, they've helped me better understand my symptoms." - Megan Wolf</h5>
    </div>
    <div class="article keyfacts-right-inverted">
        <h5>"I was really nervous about going for a pap smear but learning that other women felt the same way as me made me feel like I wasn't alone." - Ma Donna</h5>
    </div>
</section>
{% endblock %}