{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<!-- Hero Section -->
<section id="hero">
    <div id="hero-shadow">
    <div class="hero-content">
        <h1>Welcome to ConnectHer</h1>
        <p><strong>find</strong> or <strong>give</strong> support <br> <strong>learn</strong> or <strong>share</strong></p>
        <a href="#" class="cta-button">Explore</a>
    </div>
    </div>
   
</section>

<!-- Article Blocks -->
<section id="articles">
    <div class="article">
      
        <h2>Article 1 Headline</h2>
        <p>Article 1 description goes here.</p>
    </div>
    <div class="article">
        
        <h2>Article 2 Headline</h2>
        <p>Article 2 description goes here.</p>
    </div>
    <div class="article">
     
        <h2>Article 3 Headline</h2>
        <p>Article 3 description goes here.</p>
    </div>
</section>
{% endblock %}