{% extends 'base.html' %}

{% load static %}

{% block title %}Contact us{% endblock %}

{% block content %}
<!--code here :)-->

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card info-card">
                <a href="{% url 'endometriosis' %}"><img src="{% static 'assets/images/endo.png' %}" class="card-img-top" alt="photo of female reproductive system with endometriosis"></a>
                <div class="card-body">
                <h5 class="card-title"><a href="{% url 'endometriosis' %}" class="info-link">ENDOMETRIOSIS</a></h5>  
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card info-card">
                <a href="{% url 'menopause' %}"><img src="{% static 'assets/images/meno.png' %}" class="card-img-top" alt="photo of older woman in a field"></a>
                <div class="card-body">
                <h5 class="card-title"><a href="{% url 'menopause' %}" class="info-link">MENOPAUSE</a></h5> 
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card info-card">
                <a href=" {% url 'Not being heard' %}"><img src="{% static 'assets/images/heard.png' %}" class="card-img-top" alt="female patient speaking to female doctor"></a>
                <div class="card-body">
                <h5 class="card-title"><a href=" {% url 'Not being heard' %}" class="info-link">FEELING HEARD</a></h5> 
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card info-card">
                <img src="{% static 'assets/images/coming-soon.png' %}" class="card-img-top" alt="COMING SOON sign">
                <div class="card-body">
                <h5 class="card-title">PAP SMEARS</h5> 
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card info-card">
                <img src="{% static 'assets/images/coming-soon.png' %}" class="card-img-top" alt="COMING SOON sign">
                <div class="card-body">
                <h5 class="card-title">DOMESTIC VIOLENCE</h5> 
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="card info-card">
                <img src="{% static 'assets/images/coming-soon.png' %}" class="card-img-top" alt="COMING SOON sign">
                <div class="card-body">
                <h5 class="card-title">MENSTRUAL CYCLE</h5> 
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}