{% extends 'base.html' %}

{% block title %}
    Thread Detail - {{ thread.title }}
{% endblock %}

{% block content %}
<div class="container mt-3 d-flex justify-content-center flex-column">
    <div class="d-flex align-items-center justify-content-start">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i>  Forum threads</a>
    </div>
    <h1 class="mb-3">Forum Discussion</h1>
   

    <div class="card mb-4 w-100">
        <div class="card-body">
            <h2 class="card-title">{{ thread.title }}</h2>
            <p class="card-text">{{ thread.content }}</p>
            <p class="card-text">Created by: {{ thread.created_by }} | {{ thread.created_at }}</p>
        </div>
    </div>

    <h2 class="d-flex flex-start">Discussion</h2>
    {% if posts %}
        {% for post in posts %}
        <div class="card mb-3 w-100">
            <div class="card-body">
                <p class="card-text">{{ post.content }}</p>
                <p class="card-text">Posted by: {{ post.created_by }} | {{ post.created_at }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="d-flex flex-start text-black">Nothing here yet! Start the discussion!</p>
    {% endif %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'create_post' category_id=thread.category.id thread_id=thread.id %}">
            {% csrf_token %}
            <div class="form-group w-50">
                <textarea class="form-control" id="content" name="content" rows="3" placeholder="Share your thoughts"></textarea>
            </div>
            <button type="submit" class="btn btn-primary d-flex flex-start mb-3">Submit</button>
        </form>
    {% else %}
    <div class="row">
        <div class="col-lg-12">
            <p>Please <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">signup</a> to leave a reply.</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
