@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

/* Main Content */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background-color: #F3D0D7;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 0;
    letter-spacing: 0.1rem;
    /* stefan edit */
    top: 0;
}

header a {
    text-decoration: none;
    color: #333;
}

#nav-menu2 {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 1px;
}

#nav-menu2 a {
    text-decoration: none;
    color:#333
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #F3D0D7;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 150%;
}

/* begin Stefan CSS */
:root {
    --primary-color: #F3D0D7;
    --secondary-color: #FFEFEF;
    --tertiary-color: #F0EBE3;
    --quaternary-color: #F6F5F2;
}

html {
    background-color: var(--secondary-color);
    border-radius: 0px;
}

main {
    background-color: var(--secondary-color);
    background: url('../assets/images/mainBG.jpg') no-repeat center center/cover;
    margin-top: 55px;
    flex-grow: 1;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content strong {
    font-weight: 400;
}

#hero {
    height: 650px;
    width: 100%;
    background: url('../assets/images/3women-1phone.webp') no-repeat center center/cover;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    background-color: #f0f0f0;
}

.hero-content {
    background-color: rgb(226, 59, 95);
    margin: 40% 10% 5% 10%;
    padding: 40px 10px 20px 10px;
    position: absolute;
}

.hero-content h1 {
    font-size: 180%;
    letter-spacing: 0.1rem;
    color: var(--primary-color);
    font-weight: 300;
    text-align: center;
}

.hero-content p {
    font-size: 110%;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
}

.hero-content a {
    text-decoration: none;
}

#cta-dive {
    display:flex;
    align-items: center;
    justify-content: center;
}

.cta-button {
    transition-duration: 0.4s;
    background-color: var(--primary-color);
    border: 2px solid rgb(226, 59, 95);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 10px;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: rgb(226, 59, 95);
    border: 2px solid var(--primary-color);
}

.cta-button h2:hover {
    color: white;
}

#articles {
    width: 90vw;
    padding: 40px;
}

.article {
    background-color: var(--tertiary-color);
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    margin: 10px;
}

.keyfacts-left-inverted {
    width: 80%;
    /*margin: 50px auto;*/
    background:  rgb(243, 208, 215);
    padding: 20px;
    text-align: center;
    font-size: 150%;
    color:rgb(226, 59, 95);
    font-family: arial;
    position:relative;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 5px 8px 10px 0px rgb(54, 14, 23);
}

.keyfacts-left-inverted:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 12px solid  rgb(243, 208, 215);
    border-top: 10px solid  rgb(243, 208, 215);
    border-bottom: 10px solid transparent;
    left: -20px;
    top: 15px;
}

.keyfacts-right-inverted {
    width: 80%;
    margin: 50px auto;
    background:  rgb(243, 208, 215);
    padding: 20px;
    text-align: center;
    font-size:150%;
    color:rgb(226, 59, 95);
    font-family: arial;
    position:relative; 
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 5px 8px 10px 0px rgb(54, 14, 23);
}

.keyfacts-right-inverted:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(243, 208, 215);
    border-right: 12px solid  transparent;
    border-top: 10px solid  rgb(243, 208, 215);
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 15px;
}

h1,
h2 {
    color: #333;
}

/* end Stefan CSS */

/* Footer Styles*/
footer {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    /*padding: 2%;*/
    background-color: #F3D0D7;
    border-radius: 0px;
    margin-top: auto;
}

footer div {
    padding-top: 2%;
}

#socialmedia-icons {
    display: flex;
    flex-flow: row-wrap;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 1% 8% 1% 4%;
}

#footer-email {
    padding-top: 3%;
}

#socialmedia-icons i {
    color: black;
}

#socialmedia-icons a {
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 180%;
    margin: 4px 2px;
    border-radius: 10px;
}

#footer-email a {
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Contact Confirmation page styling*/

div.card.about-card.cc-card {
    text-align: center;
    display:flex;
    background-color: rgb(243, 208, 215);
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    border: 3px solid rgb(226, 59, 95);
}

h4.card-title.cc-card1 {
    color:rgb(0, 0, 0);
}


#socialmedia-icons a:hover,
#footer-email a:hover {
    background-color: #F3D0D7;
    border: 5px solid #ffefef;
    color: black;
}


/* Media query: landscape phones(576px and up)*/
@media screen and (min-width: 576px) {
    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #footer-about {
        max-width: 33%;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #nav-menu2 {
        display: flex;

    }

    #nav-menu2 li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .hero-content {
        margin-bottom: 5%;
    }

    .hero-content h1 {
        font-size: 200%;
        letter-spacing: 0.2rem;
        font-weight: 300;
    }

    .hero-content p {
        font-size: 120%;
    }

    #articles {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*CENTRAL INFO PAGE----------------------------------------------------------------------------*/
h5.card-title,
a.info-link {
    color: #DE609F;
}

/*CONTACT PAGE----------------------------------------------------------------------------*/
#contactus {
    display: flex;
    top: 0;
    margin-left: 8%;
}

.contactbox {
    width: 1500px;
    max-width: 80vw;
    min-height: 40px;
    margin: 3.5px;
}

label.contactlabel {
    font-size: 150%;
    display: flex;
    align-items: center;
}

button#contactbox-submit {
    /*background-color: ; 
    color: ;
    font-family: ; */
    margin: 10px;
    font-weight: 300;
    font-size: 120%;
}

textarea {
    resize: none;
}

/*ABOUT US PAGE----------------------------------------------------------------------------*/

.card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .card-img-top {
    width: 80%;
    max-height: 250px;
    object-fit: cover;
    margin: 10px auto;
}

.card-title {
    text-align: center;
}

.card-body {
    /*padding: 1.25rem;*/
    text-align: center;
}

p.prof-socials {
    font-size: x-large;
    margin-bottom: 0;
}

.fa-brands,
.fab {
    font-weight: 400;
    color: #E55C70;
}

/* Media query: large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #nav-menu2 a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}